*{
	margin             : 0;
	padding            : 0;
	box-sizing         : border-box;
}
body{
	font-family        : 'Poppins';
}
header nav{
	padding            : 1rem;
	width              : 100%;
	display            : flex;
	justify-content    : space-between;
	align-items        : center;
	background         : #fff;
	height             : 70px;
	box-shadow         : 5px 5px 20px rgba(0,0,0,.2);
}

.close-btn{
	display            : none;
	width              : 40px;
	cursor             : pointer;
}
.icon{
	display            : none;
	width              : 25px;
	cursor             : pointer;
}
.menu{
	display            : flex;
	list-style         : none;
}
.menu li{
	margin-right       : 24px;
}
.menu li a{
	text-decoration    : none;
	color              : #333;
	letter-spacing     : -.5px;
	transition         : .4s ease-in-out;
	cursor             : pointer;
}
.menu li a         : hover{
	padding            : .2em 1em;
	background         : transparent;
	border-radius      : 10px;
	box-shadow         : 5px 5px 5px rgba(0,0,0,.1);
}

h3.logo{
	display            : inline-flex;
}
h3.logo img{
	width              : 30px;
}
.back{
	display            : none;
	animation          : .4s ease-in-out fadeIn forwards;
	position           : absolute;
	top                : 0;
	left               : 0;
	right              : 0;
	bottom             : 0;
	background         : rgba(0,0,0,0);
	cursor             : pointer;
}

@keyframes fadeIn{
	to{
		background         : rgba(0,0,0,0.8);
	}
}

@media (max-width  : 675px){
	body{
		overflow-x      : hidden;
	}
	.icon,
	.close-btn{
		display         : block;
	}
	.icon{
		position        : absolute;
		right           : 24px;
	}
	.menu {
		position        : absolute;
		top             : 0;
		height          : 100%;
		width           : 90%;
		right           : -100%;
		background      : #fff;
		flex-direction  : column;
		justify-content : center;
		text-align      : center;
		z-index         : 2;
		transition      : .3s ease-in-out;
	}
	.menu li{
		margin-right    : 0;
		margin-bottom   : 50px;
		font-size       : 1.5em;
	}

	.close-btn{
		position        : absolute;
		top             : 24px;
		right           : -90vh;
		z-index         : 3;
		transition      : .3s ease-in-out;
	}
	.close-btn:hover{
		cursor          : pointer;
	}

	.open .menu{
		right           : 0;
	}
	.open .close-btn{
		right           : 32px;
	}
	.open .back{
		display         : block;
	}
	img{
		max-width       : 100%;
	}
	main, footer, .container, .content{
		display         : flex !important;
		flex-direction  : column !important;
	}
	main{
		padding         : 0 !important;
	}
	.content{
		margin         : 0 1rem;
		margin-right   : .5rem !important;
		box-shadow     : 0px 10px 20px rgba(0,0,0,.1) !important;
	}	
	article{
		overflow-y     : hidden !important;
		height         : auto !important;
		padding-bottom : 1rem;
	}
	aside{
		margin         : 1.5rem 3rem;
	}
	.help{
		margin-top     : -2.5rem;
	}
	.copyright{
		font-size      : .8em;
		padding-bottom : 1rem !important;
	}
}
@media (max-width  : 765px){
	body{
		overflow-x      : hidden;
	}
	img{
		width: 80%;
		max-width       : 100%;
	}
	main, footer, .container, .content{
		display         : flex !important;
		flex-direction  : column !important;
	}
	main{
		padding         : 0 !important;
	}
	.content{
		margin         : 0 1rem;
		margin-right   : .5rem !important;
		box-shadow     : 0px 10px 20px rgba(0,0,0,.1) !important;
	}	
	.content img{
		margin:0 auto;
	}
	article{
		overflow-y     : hidden !important;
		height         : auto !important;
		padding-bottom : 1rem;
	}
	aside{
		margin         : 1.5rem 3rem;
	}
	.help{
		margin-top     : -2.5rem;
	}
	.copyright{
		font-size      : .8em;
		padding-bottom : 1rem !important;
	}
}
@media (max-width  : 1056px){
	body{
		overflow-x      : hidden;
	}
	img{
		width: 80%;
		max-width       : 100%;
	}
	main, footer, .container, .content{
		display         : flex !important;
		flex-direction  : column !important;
	}
	main{
		padding         : 0 !important;
	}
	.content{
		margin         : 0 1rem;
		margin-right   : .5rem !important;
		box-shadow     : 0px 10px 20px rgba(0,0,0,.1) !important;
	}	
	.content img{
		margin:0 auto;
	}
	article{
		overflow-y     : hidden !important;
		height         : auto !important;
		padding-bottom : 1rem;
	}
	aside{
		margin         : 1.5rem 3rem;
		width: 50% !important;
		margin:0 auto;
	}
	.help{
		margin-top     : -2.5rem;
	}
	.copyright{
		font-size      : .8em;
		padding-bottom : 1rem !important;
	}
}
@media (min-width  : 1056px) and (max-width  : 1231px){
	img{
		width: 100%;
		max-width       : 100%;
	}
	.content img.img-content{
		width: 50% !important;
		height: auto !important;
	}

	.content img.img-content-php{
		width: 190% !important;
		height: auto !important;
	}
	
}
@media (min-width  : 1231px) and (max-width: 1366px){
	img{
		width: 100%;
		max-width       : 100%;
	}

	.content img.img-content-php{
		width: 160% !important;
		height: auto !important;
	}
	
}

@media (min-width: 1367px) and (max-width  : 1920px){
	img{
		width: 100%;
		max-width       : 100%;
	}
	.content img.img-content-php{
		width: 90% !important;
		height: auto !important;
	}
	
}



/*main*/
main{
	display            : flex;
	flex-direction     : row;
	padding            : 1rem 1.5rem;
}
aside{
	text-align         : center;
	background         : #fff;
	width              : auto;
	height             : 60vh;
	padding            : 1rem 2rem;
	box-shadow         : 10px 9px 20px rgba(0,0,0,0.2);
	border-radius      : 20px;
}
aside img{
	width              : 200px;
	border-radius      : 50%;
}
.text {
	margin-top         : 10px;
	text-align         : center;
}
.text h1, .text h3{
	color              : #333;
	font-size          : .8em;
}
.text p.des{
	margin-top         : 10px;
	font-size          : .8em;
}
.sosmed{
	margin-top         : 10px;
	display            : flex;
	justify-content    : center;
	cursor             : pointer;
}
.sosmed img{
	width              : 40px;
	padding            : 0em .3em;
}
.sosmed a{
	transition         : .3s ease-in-out;
}

.sosmed a          : hover{
	transform          : scale(1.1);
}
.container{
	display            : flex;
	flex-direction     : row;
	margin-top         : 20px;
}
.content{
	display            : flex;
	flex-direction     : row;
	padding            : 10px;
	background         : #fff;
	box-shadow         : 10px 10px 20px rgba(0,0,0,.1);
	margin-right       : 1.5em;
}
article{
	height             : 115vh;
	width              : auto;
	overflow-y         : scroll;
	margin-right       : 10px;
}
article::-webkit-scrollbar{
    display: none;
}
.text-content{
	padding            : 1rem;
}
.text-content h1{
	margin-bottom      : 20px;
}
.text-content p{
	text-indent        : 60px;
	font-size          : 1em;
}
.likes{
	display            : inline-flex;
}
.likes img{
	width              : 45px;
	padding            : 10px;
	transition         : .3s ease-in-out;
	cursor             : pointer;
}
.likes img:hover{
	transform          : scale(1.09);
}
.likes img.pesan{
	width              : 40px;
}
.footer-content{
	display            : flex;
	justify-content    : space-between;
	margin-top         : 30px;
}
.footer-content h6{
	font-size          : 1em;
	font-weight        : 300;
	margin             : auto 0;
	transition         : .5s ease-in-out;
	cursor             : pointer;
}
.footer-content h6:hover{
	transform          : scale(1.09);
}

/*footer*/

ul li.img_logo{
	margin             : 0 auto;
	margin-top         : 10px;
	width              : 50px;
	animation          : bounce 1s ease-in-out  infinite;
}
@keyframes bounce{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(0px);
	}
}

footer{
	display            : flex;
	justify-content    : center;
	align-items        : center;
}

footer ul {
	padding            : 1rem 5rem;
}
footer ul li{
	list-style-type    : none;
	text-align         : center;
}
footer ul li.logo{
	font-size          : 1.5em;
}
.about_footer h1{
	color              : #333;
	font-size          : 1.2em;
	text-align         : center;
}
.about_footer li a{
	color              : #333;
	text-decoration    : none;
}
.about_footer li {
	padding-bottom     : 10px;
}
.copyright{
	color              : #989898;
	padding            : .5em 0;
	text-align         : center;
}